In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import contextily as ctx

In [3]:
import matplotlib.pyplot as plt

from mpl_toolkits.axes_grid1 import make_axes_locatable

In [4]:
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [4]:
mobility_tried_doubly_un = pd.read_csv("for_luti/results/mobility_tried_doubly_un.csv", index_col=0)

In [7]:
mobility_tried_doubly_un_for_A = mobility_tried_doubly_un[{'repaired_avg_time','Dest','Orig','QuasiDoublyfitted'}]
mobility_tried_doubly_un_for_A ['pflows/cost'] = mobility_tried_doubly_un_for_A['QuasiDoublyfitted']/ mobility_tried_doubly_un_for_A['repaired_avg_time']
mobility_tried_doubly_un_for_A

/var/folders/21/w5lmmxvj1hq3rngz1m0p7tnm0000gn/T/ipykernel_3492/2782021414.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  mobility_tried_doubly_un_for_A = mobility_tried_doubly_un[{'repaired_avg_time','Dest','Orig','QuasiDoublyfitted'}]
/var/folders/21/w5lmmxvj1hq3rngz1m0p7tnm0000gn/T/ipykernel_3492/2782021414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobility_tried_doubly_un_for_A ['pflows/cost'] = mobility_tried_doubly_un_for_A['QuasiDoublyfitted']/ mobility_tried_doubly_un_for_A['repaired_avg_time']

        repaired_avg_time  QuasiDoublyfitted  Orig  Dest  pflows/cost
0               23.635000                0.0     2     3     0.000000
1                3.966250               25.0     2     4     6.303183
2                4.013636              160.0     2     6    39.864100
3                8.991667               17.0     2     8     1.890639
4                7.881379               11.0     2     9     1.395695
...                   ...                ...   ...   ...          ...
332347          58.044464                0.0   780   278     0.000000
332348          57.226406                1.0   780   272     0.017474
332349          44.529321                0.0   780   663     0.000000
332350          54.134134                3.0   780   282     0.055418
332351          54.228498                2.0   780   281     0.036881

[332352 rows x 5 columns]

In [5]:
origin_list = pd.read_csv('for_luti/sz_living_working_stats_class_without0 (1).csv')
origin_list

,FID,name,合计,POINT_X,POINT_Y,house_price,class,living_number,towork_avg_dis,towork_avg_time,towork_ave_spd,working_number,fromhomw_avg_dis,fromhome_avg_time,fromhome_avg_spd
0,2,人民桥,4141,114.107222,22.543346,24695.199220,1,2614,12.958879,35.249879,0.488680,19106,14.676919,38.860511,0.411640
1,3,红岭,8138,114.106345,22.554773,32797.101560,1,4709,10.914710,28.206515,0.470080,1959,10.054754,31.083402,0.436367
2,4,红南,6738,114.102381,22.550613,31337.000000,1,4017,11.618853,27.824567,0.482331,6432,12.159923,34.437794,0.454208
3,6,滨苑,5329,114.101974,22.540225,23495.699220,2,16318,14.064198,35.190479,0.484141,27123,14.457798,30.980312,0.470798
4,8,桂园老围,6560,114.101407,22.546298,35098.398440,1,4728,12.438896,27.517167,0.504588,14639,13.708011,37.969075,0.416080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,774,海月,13903,114.241429,22.567262,2207.229981,3,3011,17.943212,41.677269,0.550712,10785,19.847586,42.576517,0.573685
573,775,海涛,8511,114.230542,22.551088,13624.599610,3,4260,19.774877,43.747888,0.553279,2911,19.800253,48.256390,0.552014
574,777,南坑,10945,114.063741,22.607212,11863.400390,3,43950,13.706657,36.500010,0.426169,49471,13.810700,39.293814,0.409202
575,778,红棉,2809,114.175082,22.643314,26895.900390,1,9912,16.333751,41.123267,0.492482,5420,15.088132,40.390168,0.536313
576,780,志盛,1445,114.202743,22.652467,19346.800780,2,4500,17.795248,38.975385,0.516116,3084,16.795631,36.563785,0.557270

In [9]:
# for A1

dfsumTij = mobility_tried_doubly_un_for_A.groupby('Orig')['QuasiDoublyfitted'].sum().rename('sumTij').reset_index()
dfsumTij_Cij= mobility_tried_doubly_un_for_A.groupby('Orig')['pflows/cost'].sum().rename('sumTij/Cij').reset_index()
origin_list['A1Doub'] = dfsumTij_Cij['sumTij/Cij'] / dfsumTij['sumTij']
origin_list

,FID,name,合计,POINT_X,POINT_Y,house_price,class,living_number,towork_avg_dis,towork_avg_time,towork_ave_spd,working_number,fromhomw_avg_dis,fromhome_avg_time,fromhome_avg_spd,A1Doub
0,2,人民桥,4141,114.107222,22.543346,24695.199220,1,2614,12.958879,35.249879,0.488680,19106,14.676919,38.860511,0.411640,0.163220
1,3,红岭,8138,114.106345,22.554773,32797.101560,1,4709,10.914710,28.206515,0.470080,1959,10.054754,31.083402,0.436367,0.263568
2,4,红南,6738,114.102381,22.550613,31337.000000,1,4017,11.618853,27.824567,0.482331,6432,12.159923,34.437794,0.454208,0.240623
3,6,滨苑,5329,114.101974,22.540225,23495.699220,2,16318,14.064198,35.190479,0.484141,27123,14.457798,30.980312,0.470798,0.114082
4,8,桂园老围,6560,114.101407,22.546298,35098.398440,1,4728,12.438896,27.517167,0.504588,14639,13.708011,37.969075,0.416080,0.127683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,774,海月,13903,114.241429,22.567262,2207.229981,3,3011,17.943212,41.677269,0.550712,10785,19.847586,42.576517,0.573685,0.062375
573,775,海涛,8511,114.230542,22.551088,13624.599610,3,4260,19.774877,43.747888,0.553279,2911,19.800253,48.256390,0.552014,0.136513
574,777,南坑,10945,114.063741,22.607212,11863.400390,3,43950,13.706657,36.500010,0.426169,49471,13.810700,39.293814,0.409202,0.052660
575,778,红棉,2809,114.175082,22.643314,26895.900390,1,9912,16.333751,41.123267,0.492482,5420,15.088132,40.390168,0.536313,0.062851
576,780,志盛,1445,114.202743,22.652467,19346.800780,2,4500,17.795248,38.975385,0.516116,3084,16.795631,36.563785,0.557270,0.057711

In [10]:
origin_list_tomerge = origin_list[{'FID','A1Doub','house_price'}]

/var/folders/21/w5lmmxvj1hq3rngz1m0p7tnm0000gn/T/ipykernel_3492/191264708.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  origin_list_tomerge = origin_list[{'FID','A1Doub','house_price'}]

In [11]:
origin_list_tomerge = origin_list_tomerge.rename(columns={'FID':'id'})
origin_list_tomerge

       A1Doub   id   house_price
0    0.163220    2  24695.199220
1    0.263568    3  32797.101560
2    0.240623    4  31337.000000
3    0.114082    6  23495.699220
4    0.127683    8  35098.398440
..        ...  ...           ...
572  0.062375  774   2207.229981
573  0.136513  775  13624.599610
574  0.052660  777  11863.400390
575  0.062851  778  26895.900390
576  0.057711  780  19346.800780

[577 rows x 3 columns]

In [12]:
origin_list_tomerge_p = origin_list_tomerge.copy(True)
origin_list_tomerge_p = origin_list_tomerge_p.sort_values(by='A1Doub', ascending=False)
origin_list_tomerge_p.loc[531,'A1Doub'] = 0.959290
origin_list_tomerge_p = origin_list_tomerge_p.sort_values(by='id', ascending=False)
origin_list_tomerge_p

       A1Doub   id   house_price
576  0.057711  780  19346.800780
575  0.062851  778  26895.900390
574  0.052660  777  11863.400390
573  0.136513  775  13624.599610
572  0.062375  774   2207.229981
..        ...  ...           ...
4    0.127683    8  35098.398440
3    0.114082    6  23495.699220
2    0.240623    4  31337.000000
1    0.263568    3  32797.101560
0    0.163220    2  24695.199220

[577 rows x 3 columns]